<h1>Surgery: <%= @surgery.id %></h1>
<section id="surgery-information">
  <ul>
    <p>Surgery Title: <%= @surgery.title %></p>
  </ul>
  <ul>
    <p>Surgery Room Number: <%= @surgery.room_number %></p>
  </ul>
  <ul>
    <h3>Doctors on this Surgery</h3>
  </ul>
  <%@surgery.doctors.each do |doctor|%>
    <ul>
      <%= doctor.name %>
    </ul>
  <%end%>
</section>
<br>
<section id="other-surgeries-by-day">
  <h3>Other Surgeries Occuring on <%=@surgery.day%></h3>
  <%@surgeries_by_day.each do |surgery|%>
    <ul>
      <%= link_to surgery.title, "/surgeries/#{surgery.id}" %>
    </ul>
  <%end%>
</section>
<br>
<section id="add-new-doc">
  <h3>Add a doctor to this Surgery</h3>
    <%= form_tag("/surgeries/#{@surgery.id}", method: :patch) do %>
      <%= label_tag "Doctor's Full Name: " %>
      <%= text_field_tag :doctor_name %>
      <%= submit_tag 'Add this Doctor', class: :button %>
    <% end %>
</section>
